.Clinic-detail-component{
    background: #EFEFEF;
    width: 100%;
    color : #868686;
}

.Clinic-detail-component .navbar-nav{
    float: right;
    margin-top: 12px;
    color : #fff;
}

.Clinic-detail-component .navbar-brand{
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Clinic-detail-component .navbar-header{
    width : 100%;
}

.Clinic-detail-component .navbar-default .navbar-brand{
    color : #fff;
    font-size: 45px
}

.Clinic-detail-component .navbar{
    border-color: #0473aa;
    margin-bottom: 0;
}

.Clinic-detail-component .navbar-brand>img{
    display: inline;
}

.Clinic-detail-component .navbar-default .navbar-nav>li>a{
    color : #fff;
}

.Clinic-detail-component .navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand{
    margin-left: 0;
}

.Clinic-detail-component .navbar-head{
    margin : 0;
    margin-right : 15px;
}

.Clinic-detail-component .container{
    padding: 0;
    margin: 0;
    width: 100%;
}

.Clinic-detail-component .navbar-default{
    background: #0473aa !important;
    border-radius: 0;
}

.Clinic-detail-component .filter-head-div{
    width: 90%;
}

  .Clinic-detail-component p{
    margin: 0;
  }

  
  .Clinic-detail-component .first-box{
      width: 100%;
      height: 500px;
  }

  .Clinic-detail-component .first-div{
    width: 100%;
    border-radius: 8px;
    background: #fff;
    height: 500px;
    padding: 15px;
    margin-bottom: 25px;
  }

  .Clinic-detail-component .first-div-head{
      margin : 0;
      color : #000;
      text-shadow: 0.2px 0.2px;
      margin-left: 15px;
  }

  .Clinic-detail-component .arrow-div{
      width: 5%;
      display: inline;
  }

  .Clinic-detail-component .satisfied-main-div{
      display: flex;
      align-items: center;
  }

  .Clinic-detail-component .right{
      float: right;
  }

  .Clinic-detail-component .btn-right{
      display: flex;
      justify-content: flex-end;
  }

  .Clinic-detail-component h4{
      margin-top: 5px;
      margin-bottom: 5px;
  }

  .Clinic-detail-component .next-btn{
      background: #F46523;
      width: 100px;
      color: #fff;
  }

  .Clinic-detail-component .arrow-forward{
    transform: rotate(180deg);
  }

  .Clinic-detail-component .btn-default{
      text-shadow: none;
  }

  .Clinic-detail-component .service-para{
      color : #5D5D5D;
      text-shadow: 0.2px 0.2px;
  }

  .Clinic-detail-component .price{
      font-weight: bold;
      color : #000;
  }

  .Clinic-detail-component .btn-default{
      border : none;
  }

  .Clinic-detail-component .clinic-logo-image-div{
      padding-left: 0;
      display: flex;
      align-items: center;
  }

  .Clinic-detail-component .clinic-Name{
      margin : 0;
      display: inline;
  }

  .Clinic-detail-component .contact-btn{
      width : 100%;
      background: #28BAF0;
      height: 40px;
      border-radius: 8px;
      color : #fff;
      font-size: 20px;
      padding: 6px 6px;
  }

.Clinic-detail-component .second-div{
    background: #fff;
    border-radius : 8px;
    padding: 15px;
    text-shadow: 0.2px 0.2px;
    margin-bottom: 20px;
}

.Clinic-detail-component .second-div-para{
    font-size: 17px;
}

.Clinic-detail-component .third-div{
    background: #fff;
    border-radius : 8px;
    padding: 15px;
    margin-bottom: 20px;
    height: 235px;
}

.Clinic-detail-component .contact-doctor-btn{
    width : 80%;
      background: #28BAF0;
      border-radius: 8px;
      color : #fff;
      font-size: 20px;
      padding: 6px 6px;
      margin-top: 5px;
      display: flex;
      justify-content: center;
}

.Clinic-detail-component .contact-doctor-btn-div{
    padding: 0
}

.Clinic-detail-component .flex-and-center{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Clinic-detail-component .noPadding{
    padding: 0
}

.Clinic-detail-component h5{
    margin-top: 3px;
    margin-bottom: 3px;
    text-shadow: 0.2px 0.2px;
}

@media (max-width : 990px){
    .Clinic-detail-component .first-div{
        height: 630px;
    }

}