.Home-component .navbar-nav{
    float: right;
}

.Home-component .navbar-brand{
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Home-component .navbar-default .navbar-brand{
    color : #fff;
    font-size: 37px
}

.Home-component .navbar{
    border-color: #0473aa;
}

.Home-component .navbar-brand>img{
    display: inline;
}

.Home-component .navbar-default .navbar-nav>li>a{
    color : #fff;
}

.Home-component .navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand{
    margin-left: 0;
}

.Home-component .container{
    padding: 0;
    margin: 0;
    width: 100%;
}

.Home-component .navbar-default{
    background: #0473aa !important;
    border-radius: 0;
}

.Home-component .boxes-div{
    margin-top: 20px;
}

.Home-component .navbar{
    margin-bottom: 0;
}

.Home-component .main-div{
    background-image: url("../../assets/background.jpg");
    background-size: 100vw 500px;
    height: 500px;
    width: 100vw;
    background-repeat: no-repeat;
    color : #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Home-component .search-main-div{
    width: 40%;
    background : #00bff3;
    border-radius: 8px;
    border: 2px solid #fff;
    display: flex;
    padding : 10px;
    justify-content: space-around;
    align-content: center;
    flex-direction: column;
}

.Home-component .feel-free-dr-div{
    width : 100vw;
    padding: 8px;
    background : #00bff3;
    text-align: center;
    color : #fff;
    display : flex;
    justify-content: center;
    align-content: center;
}

.Home-component .feel-free-dr-div-wht{
    width : 100vw;
    padding: 8px;
    background : #fff;
    text-align: center;
    color : #000;
    display : flex;
    justify-content: center;
    align-content: center;
}

.Home-component .PadMar{
    margin-left: 3px;
    margin-right: 3px;
    padding: 0;
}

.Home-component .picture-box-div{
    border-radius: 8px;
    border: 1px solid blue;
    background-image: url("../../assets/background.jpg");
    background-repeat: no-repeat;
    height: 200px;
    width: 100%;
    background-size: 100% 100%;
    margin-bottom: 5px;
}

.Home-component .city-search-div{
    background : #00bff3;
    border-radius: 8px;
    margin-bottom: 10px;
    padding: 10px;

}

.Home-component .noPadMar{
    padding : 0;
}

.Home-component .flex-and-space{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Home-component .flex-and-around{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Home-component .end-link-div{
    margin-top: 40px;
    background : #00bff3;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.Home-component .form-input{
    margin-top:3px;
    margin-bottom: 3px;
}

.navbar-default .navbar-collapse a{
    color : #fff;
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a{
    color : #fff !important;
}

.navbar-nav .open .dropdown-menu{
    padding : 5px;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
    color : #fff !important;
}

.navbar-default .dropdown-menu>li>a{
    color: #000
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form{
    padding : 0px 35px 0px 0px;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
    color : #0473aa;
    background: #eea53d !important;
}

.navbar-header{
    width: 100%;
}

@media (max-width: 767px){
    .Nav-Hidden{
        display: none;
    }
}

@media (min-width: 768px){
    .toggle-nav-bar{
        display: none;
    }
}